{% extends "base.html" %}


{% block content %}


<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="username">
        <div id="emailHelp" class="form-text">Please enter Email ID as USername.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <!-- <button type="submit" formaction="" class="btn btn-primary">Logout</button> -->
</form>

{% endblock content %}