{% extends "base.html" %}


{% block content %}


<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" />
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" />

    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="EmailID" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}